@media (max-width: 1080px) {
  .content-projects{
    flex-direction: column;
  }
}

@media (max-width:780px){
  header {
    justify-content:center;
    h1 {
      display: none;
    }
  }
  .description {
    p {
      max-width: 300px;
    }
  }
  .sub-header {
    flex-direction:column;

    .image-person{
      margin-top: 4rem;
    }
  }

  .skills-container {
    flex-direction: column;
  }
}
