.skills {
  max-width: 1140px;
  margin: 0 auto;

  margin-top: 8rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    color: white;
  }
}

  .skills-container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
    margin-bottom: 2rem;
    
    flex-wrap: wrap;



    .skills-card{
      width: 150px;
      height: 150px;
      display: flex;
      align-items: center;
      justify-content:center;
      margin-bottom: 10px;
      border: 1px solid #333333;

      background: #212121;
    }
  }
