.sub-header {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  max-width: 1140px;
  margin: 11.22rem auto;
  padding:0 2rem;

  
  p {
    font-size:2.82rem;
    font-weight: 700;
    color: white;
    line-height:1,47rem;
    
  }

  span {
    display: inline-block;
    color: #828282;
    font-size: 1.3rem;
    margin-top: 1.125rem;
    margin-bottom: 1.878rem;
  }

  button {
    width: 157px;
    height:42px;
    font-size:14px;
    font-weight:bold;

    a {
      text-decoration:none;
      color:white;
    }

    & + button{
      margin-left: 0.99rem;
    }

   
  }
  
  .btn-download{
    background: #00DF5E;
    color: #171717;
     
  }
  .btn-contact{
    height:42px;
    width:157px;
    background: #171717;
    color: white;
    border: 1px solid #333333;
  }

  
  
}